@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}


@model Pedido

<html>
<head>
</head>
<body>
    <h2>EDITAR Pedido</h2>
    <div class="container">
        <form action="/Pedidos/Editar" method="Post">
            <div class="row">
                <div class="col-md-6">
                    @Html.HiddenFor(p => p.IdPedido, new { @class = "form-control" })
                    @Html.HiddenFor(p => p.IdUsuarioResponsable, new { @class = "form-control" })
                    Descripcion: @Html.TextBoxFor(p => p.Descripcion, new { @class = "form-control" })
                    @Html.HiddenFor(p => p.IdEstadoPedido, new { @class = "form-control" })
                    Nombre Negocio: @Html.TextBoxFor(p => p.NombreNegocio, new { @class = "form-control" })

                    Gustos:

                    <select class="selectpicker" multiple data-live-search="true" title="Seleccione gustos.." name="IdGustosSeleccionados">

                        @foreach (var item in Model.GustoEmpanada)
                        {
                            <option value="@item.IdGustoEmpanada" selected>@item.Nombre</option>
                        }
                        @foreach (var item in ViewBag.Lista as MultiSelectList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>



                </div>
                <div class="col-md-6">
                    Precio x Unidad: @Html.TextBoxFor(p => p.PrecioUnidad, new { @class = "form-control" })
                    Precio x Docena: @Html.TextBoxFor(p => p.PrecioDocena, new { @class = "form-control" })
                    @Html.HiddenFor(p => p.FechaCreacion, new { @class = "form-control" })
                    @Html.HiddenFor(p => p.FechaModificacion, new { @class = "form-control" })

                    Invitados:
                    <select class="selectpicker" multiple data-live-search="true" title="Seleccione invitados.." name="IdUsuariosInvitados">
                        @foreach (var item in ViewBag.Mailseleccionados as MultiSelectList)
                        {
                            <option value="@item.Value" selected>@item.Text</option>
                        }
                        @foreach (var item in ViewBag.Mails as MultiSelectList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="col-md-6">
                     <label>Lista que muestra solo los que confirmaron</label>
                    <select class="selectpicker" name="IdUsuariosInvitados" multiple="multiple">
                        @foreach (var item in ViewBag.usuariosCompletaronPedido as MultiSelectList)
                        {
                            <option value="@item.Value" selected="selected">@item.Text (Si)</option>
                        }
                        @foreach (var item2 in ViewBag.usuariosQueNoCompletaronPedido as MultiSelectList)
                        {
                            <option value="@item2.Value" selected="selected">@item2.Text (No)</option>
                        }
                        @*foreach (var item3 in ViewBag.usuariosQueNoTienenInvitacion as MultiSelectList)
                            {
                                <option value="@item3.Value">@item3.Text</option>
                            }*@
                    </select>
                    @*
                    <label>Lista que muestra solo los que confirmaron</label>
                    <select class="selectpicker" name="IdUsuariosInvitados" multiple="multiple">
                        @foreach (var item in ViewBag.Confirmados as MultiSelectList)
                        {
                            <option value="@item.Value" selected="selected">@item.Text (Si)</option>
                        }
                    </select>*@
                </div>

                <div class="col-md-6">
                    Re-envios:
                    <select class="selectpicker" data-live-search="true" title="Re-enviar invitación.." name="EnviarInvitaciones">
                        <option value="0">A Nadie</option>
                        <option value="1">Re - enviar Invitación a Todos</option>
                        <option value="2">Enviar sólo a los Nuevos</option>
                        <option value="3">Re - enviar sólo a los que no eligieron gustos</option>
                    </select>
                </div>

            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" value="Cancelar" id="btnCancelar" class="btn btn-block btn-warning" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Guardar" id="btnGuardar" name="btnGuardar" class="btn btn-block btn-warning" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Confirmar" id="btnConfirmar"
                               onclick="return confirm('¿Está seguro que desea Confirmar el pedido? Una vez confirmado no se podrá modificar.')" name="btnConfirmar" class="btn btn-block btn-warning" />
                    </div>
                </div>
            </div>

        </form>

    </div>
</body>

</html>