@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}


@model Pedido

<html>
<head>
</head>
<body>
    <h2>EDITAR Pedido</h2>
    <div class="container">
        <form action="/Pedidos/Editar" method="Post">
            <div class="row">
                <div class="col-md-6">
                    @Html.HiddenFor(p => p.IdPedido, new { @class = "form-control" })
                    @Html.HiddenFor(p => p.IdUsuarioResponsable, new { @class = "form-control" })
                    Descripcion: @Html.TextBoxFor(p => p.Descripcion, new { @class = "form-control" })
                    @Html.HiddenFor(p => p.IdEstadoPedido, new { @class = "form-control" })
                    Nombre Negocio: @Html.TextBoxFor(p => p.NombreNegocio, new { @class = "form-control" })
                   
                    Gustos Seleccionados:
                    <select id="lala" name="lala" multiple="multiple" class="form-control">

                        @foreach (InvitacionPedidoGustoEmpanadaUsuario item in ((List<InvitacionPedidoGustoEmpanadaUsuario>)ViewBag.ListaGusto))
                        {
                            <option value="">@item.GustoEmpanada.Nombre</option>
                        }
                    </select>

                    ¿Desea agregar gustos?
                    <select id="IdGustosSeleccionados" name="IdGustosSeleccionados" multiple="multiple" class="form-control">

                        @foreach (GustoEmpanada item in ((List<GustoEmpanada>)ViewBag.ListaDeGustos))
                        {
                            <option value="@item.IdGustoEmpanada">@item.Nombre</option>
                        }
                    </select>

                </div>
                <div class="col-md-6">
                    Precio x Unidad: @Html.TextBoxFor(p => p.PrecioUnidad, new { @class = "form-control" })
                    Precio x Docena: @Html.TextBoxFor(p => p.PrecioDocena, new { @class = "form-control" })
                    @Html.HiddenFor(p => p.FechaCreacion, new { @class = "form-control" })
                    @Html.HiddenFor(p => p.FechaModificacion, new { @class = "form-control" })

                    Invitados:
                    <select id="lele" name="lele" multiple="multiple" class="form-control">

                        @foreach (Usuario item in ((List<Usuario>)ViewBag.ListaUsuario))
                        {
                            <option value="@item.IdUsuario">@item.Email</option>
                        }
                    </select>

                    ¿Desea agregar invitados? 
                    <select id="IdUsuariosInvitados" name="IdUsuariosInvitados" multiple="multiple" class="form-control">

                        @foreach (Usuario item in ((List<Usuario>)ViewBag.ListaDeUsuarios))
                        {
                            <option value="@item.IdUsuario">@item.Email</option>
                        }
                    </select>
                </div>
            </div>
            <br>
            <div class="center-align pt-1">
                <button type="submit" class="btn btn-warning my-2 my-sm-0" name="btnConfirmar" id="btnConfirmar" onclick="Confirmar()" value="confirmar">Confirmar</button>
            </div>
        </form>


        <a class="linkss" href="/Pedidos/Listar"> Cancelar</a>
    </div>
</body>

</html>

