@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}


@model Pedido

<html>
<head>
</head>
<body>
    <h2>Iniciar Pedido</h2>
    <div class="container">
        <form action="/Pedidos/Iniciar" method="Post">
            <div class="row">
                <div class="col-md-6">
                    @Html.HiddenFor(p => p.IdPedido, new { @class = "form-control" })
                    @Html.HiddenFor(p => p.IdUsuarioResponsable, new { @class = "form-control" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    Nombre Negocio: @Html.TextBoxFor(p => p.NombreNegocio, new { @class = "form-control", required = true })
                    @Html.ValidationMessageFor(model => model.NombreNegocio, "", new { @class = "text-danger" })

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    Descripcion: @Html.TextBoxFor(p => p.Descripcion, new { @class = "form-control", required = true })
                    @Html.HiddenFor(p => p.IdEstadoPedido, new { @class = "form-control" })
                    Gustos:
                    <br>
                    <select class="selectpicker" id="IdGustosSeleccionados" name="IdGustosSeleccionados" multiple="multiple">
                        <option value="1">Seleccione</option>
                        <option value="0">Otros</option>
                        @foreach (GustoEmpanada item in ((List
                        <GustoEmpanada>
                            )ViewBag.ListaGusto))
                        {
                            <option value="@item.IdGustoEmpanada">@item.Nombre</option>
                        }
                    </select>


                </div>
                <div class="col-md-6">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    Precio x Unidad: @Html.TextBoxFor(p => p.PrecioUnidad, new { @class = "form-control", required = true })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    Precio x Docena: @Html.TextBoxFor(p => p.PrecioDocena, new { @class = "form-control", required = true })
                    @Html.HiddenFor(p => p.FechaCreacion, new { @class = "form-control" })
                    @Html.HiddenFor(p => p.FechaModificacion, new { @class = "form-control" })

                    Invitados:
                    <select class="selectpicker" id="IdUsuariosInvitados" name="IdUsuariosInvitados" multiple="multiple">

                        @foreach (Usuario item in ((List
                        <Usuario>
                            )ViewBag.ListaUsuario))
                        {
                            <option value="@item.IdUsuario">@item.Email</option>
                        }
                    </select>

                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <input class="btn btn-warning my-2 my-sm-0" type="submit" value="Iniciar" />
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-warning my-2 my-sm-0"href="/Pedidos/Listar/">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>


