@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";

}
@*@model IEnumerable<Empanadas.Models.InvitacionPedido>
    @model List<Pedido>*@

<h2>Bienvenido @Model.Email !!</h2>
<div class="table-responsive">

    @if (TempData["mensaje"] != null)
    {
        <div class="container text-center">
            <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <h4>  <strong>@TempData["mensaje"]</strong> </h4>
            </div>
        </div>
    }
    <table class="table table-condensed">
        <thead class="thead-inverse">
            <tr>
                <td>Nombre</td>
                <td>Estado</td>
                <td>Rol</td>
                <td>FCreacion</td>
                <td>GustosDisponibles</td>
                <td>Invitados</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (InvitacionPedido p in ViewBag.ListaPedidos)
            {
            <tr>
                <td>@p.Pedido.NombreNegocio</td>
                <td>@p.Pedido.EstadoPedido.Nombre</td>

                @if (p.Pedido.IdUsuarioResponsable == Model.IdUsuario)
                {
                    <td>Responsable</td>
                }
                else
                {
                    <td>Invitado</td>
                    <!--<td><a href="/Pedidos/Elegir/p.IdPedido" >Elegir Gustos</a></td>-->
                }


                <td>@p.Pedido.FechaCreacion.ToString("dd/MM/yyyy")</td>
                <td>
                    @foreach (GustoEmpanada g in p.Pedido.GustoEmpanada)
                    {
                        @Html.Raw(g.Nombre + " ");
                    }
                </td>
                <td style="font-size:medium;">

                    @foreach (InvitacionPedido i in p.Pedido.InvitacionPedido)
                    {
                        @Html.Raw(i.Usuario.Email + " ");
                    }
                </td>

                <!--cambio laush-->
                @if (p.Pedido.IdEstadoPedido == 2 || p.Pedido.IdUsuarioResponsable != Model.IdUsuario)
                {
                    <td><a style="color:white;" href="/Pedidos/Detalle/@p.Pedido.IdPedido"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                }
                else
                {
                    <td><a style="color:white;" href="/Pedidos/Editar/@p.IdPedido"><span class="glyphicon glyphicon-pencil"></span></a></td>
                }
                <!--cambio laush fin-->
                <td><a style="color:white;" href="/Pedidos/Eliminar/@p.Pedido.IdPedido"><span class="glyphicon glyphicon-remove"></span></a></td>
                <td><a style="color:white;" href="/Pedidos/Iniciar/@p.Pedido.IdPedido"><span class="glyphicon glyphicon-copyright-mark"></span></a></td>
                <td><a style="color:white;" href="/Pedidos/Elegir/@p.IdPedido"><span class="glyphicon glyphicon-check"></span></a></td>

            </tr>
            }
        </tbody>
    </table>

</div>
<form class="form-inline my-2 my-lg-0" action="/Pedidos/Iniciar/">
    <button class="btn btn-warning my-2 my-sm-0" type="submit">Nuevo Pedido</button>
</form>















