
@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

@model List<Pedido>

    <table class="table-bordered">
        <tr>
            <td class="table-primary">IdPed</td>
            <td>IdUsu</td>
            <td>Nombre</td>
            <td>Descrip</td>
            <td>IdEstPed</td>
            <td>PrecioxUni</td>
            <td>PrecioxDoc</td>
            <td>FechCreacion</td>
            <td>FechModif</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (Pedido p in Model)
        {
        <tr class="table-primary">
            <td>@p.IdPedido</td>
            <td>@p.IdUsuarioResponsable</td>
            <td>@p.NombreNegocio</td>
            <td>@p.Descripcion</td>
            <td>@p.IdEstadoPedido</td>
            <td>@p.PrecioUnidad</td>
            <td>@p.PrecioDocena</td>
            <td>@p.FechaCreacion</td>
            <td>@p.FechaModificacion</td>
            <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a></td>

        </tr>
        }

    </table>
    <a class="linkss" href="/Pedidos/Iniciar/"> Nuevo pedido</a>
    <br>
 


